// Navigation Styles here

header {
    margin: 30px 0;
    display: flex;
    border-bottom: 2px dashed lightgrey;

    h1 {
        width: 49%;
    }

    nav {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        width: 49%;
        border: 1px solid;
        
        a {
            text-decoration: none;
            color: black;
            padding: 0% 10%;
            width: 20%;
            text-align: center;
            padding: 0px;
            border: 1px solid;
        }
    }
}